<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>勤怠管理</title>
	<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" href="../static/css/main.css">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6dfac05c01.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" th:src="@{/js/footerFixed.js}" src="../static/js/footerFixed.js"></script>
	<script type="text/javascript" th:src="@{/js/effectFade.js}" src="../static/js/effectFade.js"></script>
</head>

<body>
	<header>
		<form th:action="@{/login}" method="post">
			<a class="title-box" href="login">
				<h1 class="title">勤怠管理</h1><figure><img th:src="@{/images/logo.svg}" src="../static/images/logo.svg"></figure>
			</a>
		</form>
		<form th:action="@{/login}" method="post">
			<div class="logout">
				<a href="login" class="logbtn">ログアウト</a>
			</div>
		</form>
	</header>

	<div class="description">
		<p class="title-description"><i class="far fa-list-alt"></i>一覧</p>
	</div>

	<div class="menu-box effect-fade">
		<div class="menus">
			<form class="inline-form" th:action="@{/menu}" method="post"><button class="f-btn" onclick="location.href='menu.html'" type="submit">メニュー</button></form>
			<form class="inline-form" th:action="@{/new}" method="post"><button class="f-btn" onclick="location.href='new.html'" type="submit">新規</button></form>
		</div>

		<div class="search">
			<label class="label" th:for="mailaddress">勤務月</label>
			<input type="date" name="working-month">
			<button class="f-btn" type="submit">検索</button>
		</div>

		<table>
			<tbody>
				<tr>
					<th></th>
					<th>日付</th>
					<th>開始時刻</th>
					<th>終了時刻</th>
				</tr>
				<tr>
					<td><a href="edit.html">編集</a></td>
					<td>2020/01/01</td>
					<td>09:00</td>
					<td>18:00</td>
				</tr>
				<tr>
					<td><a href="edit.html">編集</a></td>
					<td>2020/01/02</td>
					<td>09:00</td>
					<td>18:00</td>
				</tr>
				<tr>
					<td><a href="edit.html">編集</a></td>
					<td>2020/01/03</td>
					<td>09:00</td>
					<td>18:00</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="footer">
		<p class="footer-text">©株式会社ディー・シー・エフ</p>
	</div>

	<script>
		window.onload = function() {
	  scroll_effect();
	
	  $(window).scroll(function(){
	   scroll_effect();
	  });
	
	  function scroll_effect(){
	   $('.effect-fade').each(function(){
		var elemPos = $(this).offset().top;
		var scroll = $(window).scrollTop();
		var windowHeight = $(window).height();
		if (scroll > elemPos - windowHeight){
		 $(this).addClass('effect-scroll');
		}
	   });
	  }
	};
	</script>
</body>

</html>